#accession_form .identifier-fields select {
    margin-right: 4px;
    width: auto;
    display: inline-block;
}

#accession_form .identifier-fields em {
    margin-right: 4px;
}

#accession_form .identifier-fields em.id_1_placeholder {
    margin-right: 8px;
    margin-left: 8px;
}